<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yisuho.simplenote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_note"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yisuho.simplenote.MainActivity" />
        </activity>

        <provider
            android:name=".NotesProvider"
            android:authorities="com.yisuho.simplenote.notesprovider"
            android:exported="false" />

        <activity
            android:name=".AlarmSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_alarm_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yisuho.simplenote.MainActivity" />
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yisuho.simplenote.MainActivity" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_news"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yisuho.simplenote.MainActivity" />
        </activity>

        <receiver android:name=".SimpleNoteAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_note_widget_info" />
        </receiver>

        <activity
            android:name=".AppWidgetConfigureActivity"
            android:label="@string/title_activity_app_widget_configure"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>